body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container{
    background: url(https://i.ytimg.com/vi/9JHBfRuiDpI/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AHUBoAC4AOKAgwIABABGEAgXShlMA8=&amp;rs=AOn4CLAx3GJdNzOa8FgYa9uv5-yeSf-pfA);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.win{
    position: absolute;
    z-index: 2;
    color: rgb(255, 255, 0);
    top: 50%;
    left: 40%;
    right: 40%;
    bottom: 50%;
    visibility: hidden;
    background-color: rgba(0, 251, 167, 0.426);
}

.flFJ{
    height: 50px;
    width: 50px;
    position: absolute;
}
.pipe{
    position: absolute;
    z-index: 1;
}

.pipeBody{
    margin-left: 10px;
    padding: 35px;
    background-color: green;
    border-left: 15px solid rgba(138, 240, 138, 0.692);
    border-right: 3px solid darkgreen;
    display: inline-block;
    position: absolute;
}

.pipeTop{
    padding: 7px 42px;
    border-radius: 10px;
    border-left: 15px solid rgba(138, 240, 138, 0.692);
    border-bottom: 1px solid darkgreen;
    border-right: 5px solid darkgreen;
    margin-left: 2px;
    position: absolute;
    background-color: green;
}

.coin{
    position: absolute;
}

.coinBody{
    background-color: rgb(255, 230, 5);
    padding: 10px;
    border-radius: 20px;
}

.coinInsides{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(228, 213, 0, 0.718);
}

.hole{
    margin-left: 50px;
    align-self: flex-end;
    position: relative;
}

.hhhh{
    position: absolute;
}

.floor{
    height: 50px;
    width: 50px;
    align-self: flex-end;
    position: relative;
    z-index: 1;
}

#ffff{
    height: 400px;
    position: absolute;
    align-self: flex-end;
    z-index: 2;
}

#mario{
    position: absolute;
    width: 70px;
    height: 80px;
    align-self: flex-end;
    margin-bottom: 50px;
    transition: transform 0.1s linear;
    z-index: 0;
}
